---
import Layout from "#layouts/Layout";

// icons
import { ArrowLeft } from "lucide-react";
// components
import { Button } from "#ui/button";

// Get the current pathname
const pathname = Astro.url.toString().replace(/^(https?:\/\/)?(www\.)?/, "");
---

<Layout>
	<div
		class="flex min-h-screen motion-blur-in-[50px] flex-col items-center justify-center"
	>
		<h1 class="motion-preset-seesaw text-9xl font-bold">404</h1>
		<h2 class="text-2xl font-bold">Page Not Found :(</h2>
		<div class="flex flex-wrap items-center justify-center gap-2">
			<p class="mt-2">Sorry, we couldn&apos;t find</p>
			<code class="mt-2 rounded-md border bg-muted/50 p-2 text-sm">
				&quot;{pathname}&quot;
			</code>
		</div>
		<div class="flex flex-wrap items-center justify-center gap-4">
			<Button className="group mt-10">
				<a href="/" class="flex items-center gap-2 font-semibold">
					<ArrowLeft
						className="opacity-80 transition-transform group-hover:-translate-x-0.5"
						size={16}
						strokeWidth={2}
						aria-hidden="true"
					/>
					Return to Home xxx
				</a>
			</Button>
		</div>
	</div>
</Layout>
