---
interface Props {
  error: unknown;
}

const { error } = Astro.props;
import Layout from "@/layouts/Layout.astro";

// icons
import { ArrowLeft } from "lucide-react";
// components
import { Button } from "@/components/ui/button";

// Safely handle the error message
const errorMessage =
  error instanceof Error
    ? error.message
    : "An unknown error occurred, CODE:5001";
---

<Layout>
  <div
    class="flex min-h-screen flex-col items-center justify-center motion-blur-in-[50px]"
  >
    <h1 class="motion-preset-seesaw text-9xl font-bold">500</h1>
    <h2 class="text-2xl font-bold">Server Error</h2>
    <div class="flex flex-wrap items-center justify-center gap-2">
      <!-- <p class="mt-2">info:</p> -->
      <code class="mt-2 rounded-md border bg-muted/50 p-2 text-sm">
        Error: {errorMessage}
      </code>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-4">
      <Button className="group mt-10">
        <a href="/" class="flex items-center gap-2 font-semibold">
          <ArrowLeft
            className="opacity-80 transition-transform group-hover:-translate-x-0.5"
            size={16}
            strokeWidth={2}
            aria-hidden="true"
          />
          Return to Home
        </a>
      </Button>
    </div>
  </div>
</Layout>
