---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <main class="h-screen w-full grid place-items-center">
    <Button className="">Hello World</Button>
  </main>
</Layout>
