---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { ShareModal } from "@/components/utils/react-only/ShareModal";
import { Test } from "@/components/Test";
import Img from "@/components/utils/Img.astro";
---

<Layout>
  <main>
    <div class="flex flex-wrap gap-4 justify-center mb-4 p-6">
      {
        Array.from({ length: 30 }).map((_, index) => (
          <Img
            src={`https://picsum.photos/800/600?random=${index}`}
            alt={`Random image ${index + 1}`}
            width={300}
            height={600}
          />
        ))
      }
    </div>
    <!-- <Test client:load /> -->
  </main>
</Layout>
