---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { ShareModal } from "@/components/utils/react-only/ShareModal";
import { Test } from "@/components/Test";
---

<Layout>
  <main>
    <Test client:load />
  </main>
</Layout>
