---
import Layout from "@/layouts/Layout.astro";
import TestPage from "@/components/ReactErrorTestComps";
---

<Layout>
  <div class="container mx-auto p-8 space-y-8">
    <h1 class="text-2xl font-bold mb-8">React Error Boundary Test Page</h1>
    <TestPage client:load />
  </div>
</Layout>
