---
import Layout from "@/layouts/Layout.astro";
import TestPage from "@/components/ReactErrorTestComps";
---

<Layout>
	<div class="container mx-auto space-y-8 p-8">
		<h1 class="mb-8 text-2xl font-bold">React Error Boundary Test Page</h1>
		<TestPage client:load />
	</div>
</Layout>
