---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { ShareModal } from "@/components/utils/react-only/ShareModal";

import Img from "@/components/utils/Img.astro";
---

<Layout>
  <main>
    <a href="/">Home</a>
    <div class="flex flex-wrap gap-4 justify-center mb-4 p-6">
      {
        Array.from({ length: 550 }).map((_, index) => (
          <Img
            src={`https://picsum.photos/800/600?random=${index}`}
            alt={`Random image ${index + 1}`}
            width={300}
            height={500}
            className="rounded-md"
          />
        ))
      }
      <Img
        src={`https://zenetxicesports.com/assets/team/heads/arefin.png`}
        alt={`zeb`}
        width={800}
        height={600}
        className="rounded-md"
      />
    </div>
    <!-- <Test client:load /> -->
  </main>
</Layout>
