---
// https://docs.astro.build/en/guides/view-transitions/#trigger-navigation
// import { ClientRouter } from "astro:transitions";

// import Metadata from "#utils/Metadata.astro";
import PageLoader from "#utils/PageLoader.astro";

import type { MetadataProps } from "#types/index.ts";
interface Props extends MetadataProps {
	pageLoader?: boolean;
}
const { pageLoader = true }: Props = Astro.props;

// components
import { ModeToggle } from "#ui/theme-selector";
import { ScrollToTopButton } from "#utils/TopButton.tsx";
import { Toaster } from "#ui/toaster";
import BaseLayout from "#layouts/BaseLayout";
---

<BaseLayout>
	<ScrollToTopButton client:load className="fixed right-4 bottom-4 z-50" />
	<main>
		<slot />
	</main>
	<ModeToggle
		client:load
		className="fixed bottom-2 left-2 z-50"
		iconClassName="size-3"
	/>
	<Toaster client:load />
	{pageLoader && <PageLoader />}
</BaseLayout>

<style>
	html,
	body {
		font-family: "Montserrat Variable", sans-serif;
	}
	@keyframes bump {
		0% {
			opacity: 0;
			transform: scale(1) translateX(200px);
		}
		50% {
			opacity: 0.5;
			transform: scale(1.1);
		}
		100% {
			opacity: 1;
			transform: scale(1) translateX(0);
		}
	}
</style>
