---
import { cn } from "@/lib/utils";
const { className } = Astro.props;
---

<div
  class={cn(
    "cssload-loader backdrop-blur-xl bg-zinc-600/50 dark:bg-zinc-600/35 border border-foreground/15 fixed left-1/2 bottom-6 flex flex-col items-center justify-center h-10 max-w-24 w-full pointer-events-none py-2 rounded-2xl -translate-x-1/2 shadow-[inset_0_0_39.1px_rgba(255,255,255,0.25)]",
    className
  )}
  id="page_loading_icon"
>
  <img src="/loading-dots.gif" alt="loading" class="size-6" />
</div>

<script>
  document.addEventListener("astro:before-preparation", (ev) => {
    const originalLoader = ev.loader;
    ev.loader = async function () {
      const loader = document.getElementById("page_loading_icon");
      loader?.classList.add("loader_active");
      await originalLoader();
      loader?.classList.remove("loader_active");
    };
  });
</script>
<style>
  .cssload-loader {
    z-index: 1199;
    pointer-events: none;
    user-select: none;
    opacity: 0;
  }
  .loader_active {
    opacity: 1;
  }
</style>
